# Server port
PORT=4001

# Node env
NODE_ENV=development

# Database URL
DATABASE_URL=postgresql://user:password@localhost:5432/your_database

# JWT Secrets
# Access
JWT_ACCESS_SECRET_KEY=your_access_secret_key_here
JWT_ACCESS_SECRET_KEY_EXPIRES_IN=900  # 15 munites

# Refresh
JWT_REFRESH_SECRET_KEY=your_refresh_secret_key_here
JWT_REFRESH_SECRET_KEY_EXPIRES_IN=604800   # 7 days, can also be 30 days or 90 days